header{
    background-color: var(--cor-de-fundo);
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 3em;
    color: var(--vermelho-claro);
}

/* .container-header-logo p {
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: .1em;
} */

.header-logo {
    width: 30em;
}

.navegaçao-list {
    display: flex;
    gap: 2em;
    list-style: none;
}

.list-link {
    font-size: 2.5em;
    text-decoration: none;
    color: var(--cor-de-fonte);
}